/* -*-*-*-*-*-*-*-*-*- GLOBAL RESET -*-*-*-*-*-*-*-*-*-  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}


/* -*-*-*-*-*-*-*-*-*- GLOBAL STYLING -*-*-*-*-*-*-*-*-*-  */
/* FONTS */
/* font-family: 'Montserrat', sans-serif; */

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
}

/* -*-*-*-*-*-*-*-*-*- MENU STYLING -*-*-*-*-*-*-*-*-*-  */
menu {
    background-color: #192b38;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;
    z-index: 10;
}

/* HEADING */
h1 {
    /* border: 1px solid red; */
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    padding-right: 1rem;
}

.dashboard-icon {
    filter: invert();
}

.icon {
    filter: invert();
}

/* LINKS */
nav {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.links {
    font-size: larger;
}

.links img {
    width: 2rem;
}

.links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: .5rem 0;
}

/* .menu,
.settings {
    border: 1px solid red;
} */


/* -*-*-*-*-*-*-*-*-*- HEADER STYLING -*-*-*-*-*-*-*-*-*-  */
header {
    background-color: #2e5458;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 2rem; */
    padding: 1rem 2.5rem 1.5rem 2rem;
    /* box-shadow: 2px 2px 8px #2e5458; */
    filter: drop-shadow(0px 3px 6px #2e5458);
}

/* SEARCH BAR STYLING */
.search-bar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar .icon {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}

#search {
    background-color: #bbc7c6;
    border: none;
    width: max(250px, 100%);
    height: 1.9rem;
    border-radius: 2rem;
}

/* PROFILE BAR STYLING */
.profile-bar {
    /* border: 1px solid green; */
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.profile-bar img {
    width: 3rem;
}

.profile-bar .icon {
    width: 32px;
}

.profile-bar h4 {
    font-weight: bold;
}

/* USER BAR STYLING */
.user-bar {
    /* border: 1px solid yellow; */
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: .3rem;
}

.user-bar img {
    width: 4.3rem;
    grid-row: 1 / 3;
    padding-left: 1rem;
}

.user-bar p {
    align-self: flex-end;
    font-size: small;
    padding-bottom: 0.1rem;
}

.user-bar h3 {
    grid-column: 2 / -1;
    align-self: flex-start;
    font-size: larger;
    font-weight: bold;
    padding-top: 0.1rem;
    letter-spacing: 1px;
}

/* BUTTON BAR STYLING */
.button-bar {
    /* border: 1px solid gray; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.button-bar button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 6rem;
    height: 2.3rem;
    border: none;
    border-radius: 2rem;
    background-color: #192b38;
    color: whitesmoke;
}

.button-bar button:hover {
    border: 2px solid whitesmoke;
    cursor: pointer;
}


/* -*-*-*-*-*-*-*-*-*- ARTICLE STYLING -*-*-*-*-*-*-*-*-*-  */
article {
    background-color: #bbc7c6;
    padding: 2rem 1rem;
    grid-column: 2 / 3;
}

h2 {
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bold;
    padding-left: .5rem;
}

.grid-container-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(3, minmax(322px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 1.5rem;
    padding-top: .9rem;
}

.card {
    background-color: whitesmoke;
    padding: 2rem 1rem;
    border-left: .5rem solid rosybrown;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 4px 4px 8px #2e5458;
}

.card h4 {
    /* border: 1px solid green; */
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: .5rem;
}

.card p {
    /* border: 1px solid green; */
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
    line-height: 1.3rem;
}

.img-container {
    /* border: 1px solid green; */
    align-self: flex-end;
    padding-top: 1rem;
}

.img-container img {
    padding-right: .6rem;
}

/* -*-*-*-*-*-*-*-*-*- ASIDE STYLING -*-*-*-*-*-*-*-*-*-  */
aside {
    background-color: #bbc7c6;
    padding: 2rem 2rem 3rem 1rem;
}

.trend-title,
.announce-title {
    margin-bottom: .9rem;
}

.trend-title {
    margin-top: 2rem;
}

.announcements-container {
    background-color: whitesmoke;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: minmax(230px, 1fr);
    grid-template-rows: repeat(3, minmax(80px, 1fr));
    padding: 1rem 1.3rem;
    box-shadow: 4px 4px 8px #2e5458;
}

.card-text {
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    padding: 1rem .3rem 1rem .3rem;
}

.border {
    border-bottom: 1px solid #bbc7c6;
}

.card-text h5 {
    font-weight: bolder;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: .3rem;
}
.card-text p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    white-space: pre-wrap;
    font-size: small;
}

/* TRENDING */
.trending-container {
    background-color: whitesmoke;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.3rem;
    box-shadow: 4px 4px 8px #2e5458;
}

.trending-container img {
    /* border: 1px solid blue; */
    width: 3.5rem;
    padding: .6rem 0;
    filter: drop-shadow(2px 2px 2px #c9c9c9);
}

.trending-users {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    align-items: center;
    column-gap: 1rem;
}
.trending-users h6 {
    /* border: 1px solid blue; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: small;
    padding-bottom: .1rem;
}
.trending-users p {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    padding-top: .1rem;
}






